/* NAVIGATION */

nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: all .5s;
  color: antiquewhite;
  background-color: rgba(248,248,248, 0);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0);
  animation: slideInFromTop 1s;
}

.nav-on {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: all 1s;
  background-color: rgba(248,248,248, .9);
  box-shadow: 0 2px 1px rgba(0, 0, 0, .4);
  color: #053C5E !important;
  animation: slideInFromTop 1s;
}


.nav-link {
  position: relative;
  transition: all 0.2s;
  color:  rgb(163, 163, 163);
  font-size: 12px;
  font-weight: 450;
  letter-spacing: .01vw;
  border: 0;
}

/* OVERRIDING BOOTSTRAP NAV - VERTICAL/COLUMN TO HORIZONTAL/ROW FLEXBOX  */

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  padding-top: 5px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}


.nav-link:hover,
a:hover {
  cursor: pointer;
  z-index: 1;
   color: #F3B319;
   border:0

}

.nav-link:hover:after {
  z-index: -10;
  width: 100%;
  font-weight: 900;
  opacity: 1;
}

#logoname {
  display: inline;
}


.slogo-on {
  width: 30px !important;
  transition: all 1s;  
}

.slogo {
  width: 50px;
  /* transform: scale(2); */
  transition: all 1s;  
  margin: 2px 0 2px 5px;
}

.slogo:hover {
  cursor: pointer;
  transition: ease-in-out 0.2s;  
  transform: scale(1.1);
}

.li-item {
  /* color:  #053C5E; */
  margin: 0 15px;
}
/* animation: nav-logo-spin infinite 20s linear; */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
